@import '../../scss/colors.scss';

.menu-item {
  align-items: center;
  display: flex;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  height: 2rem;
  justify-content: center;
  transform: scale(1.25);
  width: 100%;

  &:nth-child(1) {
    background-color: $red;
  }

  &:nth-child(2) {
    background-color: $green;
  }

  &:nth-child(3) {
    background-color: $blue;
  }
}
